/*parte 1*/

body {
    background-color: #000000;
}

.grande img {
    width: 800%;
    max-width: 100%; 
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.cabecera {
    flex: auto;
    gap: 20px;
    background-color: black;
    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 50px;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

/*segunda parte*/

.main {
       display: flex;
       padding: 20px;
       opacity: 0.98;
       color: white;
       background-color: black;
       justify-content: center;
}

.info {
    justify-content: center;
    padding: 40px;
    text-align: center;
    width: 50%;
}

.principal {
    justify-content: center;
    width: 40%;
}

.imagen-lado {
    width: 90%;
    height: 90%;
    object-fit: cover;
    padding: 10px;
}

.main h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.info p {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 18px;
}

/*Parte 3*/

.caracteristica {
    background-color: #302a2a;
    text-align: center;
       padding: 10px;
       opacity: 0.98;
       color: white;
}


.flex {
    display: flex;
    padding: 40px;
    justify-content: space-around;
  }


p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 50px;
}

/*Parte 4*/

.galore img {
    width: 316px;
    height: 202px;
    padding: 16px;
}

.galore {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

/*Final*/

.pie p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.pie {
    background-color: #302a2a;
    padding: 10px;
}

